= form_for @journal, :url => { :controller => 'journal', :action => 'create' } do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit
