!!! html
!!!
%html
  %head
    %title Kibiz0r.com
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .content= yield
    .menu
      %ul
        - ['Journal', 'Items', 'Equipment', 'Skills', 'Status', 'Save'].each do |menu_item|
          %li
            %a{:href => menu_item.downcase}= menu_item
    .misc
      %ul
        %li
          .left Time
          .right 28:06
          .clear
        %li
          .left G
          .right 1024
          .clear
    .footer Kibiz0r.com
