!!! html
!!!
%html
  %head
    %title Kibiz0r.com
    = stylesheet_link_tag :all
  %body
    .content
      .sub-content= yield
    .misc
      %ul
        %li
          .left Uptime
          .right 28:06
          .clear
        %li
          .left Hits
          .right 1024
          .clear
    .footer
      %a(href='http://www.kibiz0r.com') Kibiz0r.com
    .menu
      %ul
        - ['Status', 'Journal', 'Items', 'Equipment', 'Skills', 'Save'].each do |menu_item|
          - if controller.controller_name == menu_item.downcase || controller.action_name == menu_item.downcase
            %li.selected
              %a(href="/#{menu_item.downcase}")= menu_item
          - elsif menu_item == 'Save'
            %li.last
              %a(href="/#{menu_item.downcase}")= menu_item
          - else
            %li
              %a(href="/#{menu_item.downcase}")= menu_item
